/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ----- UTILITY ----- */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ----- CONTENT ----- */

h3, p {
    display: inline-block;
}

.wrap {
    margin: 50px 200px;
    max-width: 1000px;
    border: 5px solid violet;
}

.floating-card {
    background-color: black;
    color: white;
}

.email {
    color: aqua;
}

.clearfix > div {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}

img {
    width: 25%;
    margin: 0 10px 0 0;
}

.info {
    margin-left: 20px;
    display: inline;
}