/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
}

/* ----- UTILITY ----- */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ----- CONTENT ----- */

h1 {
    text-align: center;
    color: #e53170;
}

h1 + p {
    text-align: center;
    margin: 20px;
}

p {
    font-size: small;
    margin: 5px 0;
}

.wrap {
    margin: 0 auto;
    max-width: 1000px;
}

.floating-card {
    background-color: black;
    color: white;
}

.email {
    color: #2db3cd;
}

.clearfix > div {
    width: calc(100% / 3 - 20px);
    margin: 20px 10px;
}

img {
    width: 25%;
}

.info {
    margin: 10px;
    text-indent: 10px;
}

.wrap .clearfix {
    margin: 0 -10px;
}